* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
}

#nav {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 50% 10% 10% 10% 10% 10%;
  grid-template-rows: 60px;
  align-items: center;
  justify-items: center;
  padding: 0 20px;
}

#nav h1 {
  justify-self: start;
}

/* Unit vw/vh: plays important role in responsive. On resize scree, it also resize its size */
#parent {
  width: 30vw;
  height: 30vw;
  background-color: green;
}

#child {
  width: 50%;
  height: 50%;
  background-color: yellow;
}

/* Font reduce automatically on resize screen */
h1 {
  font-size: 10vw;
}