* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

h1::first-line {
  color: red;
}

h1::first-letter {
  font-size: 120px;
}

h1::selection {
  color: green;
}