* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
}

#nav {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 50% 10% 10% 10% 10% 10%;
  grid-template-rows: 60px;
  align-items: center;
  justify-items: center;
  padding: 0 20px;
}

#nav h1 {
  justify-self: start;
}

#box {
  width: 400px;
  height: 400px;
  background-color: crimson;
  position: absolute;
  animation-name: anime;
  animation-duration: 2s;
  animation-delay: 1s;
}

@keyframes anime {
  from {
    left: 0;
    background-color: red;
    rotate: 0;
  }
  to {
    left: 70%;
    background-color: blue;
    rotate: 360deg;
  }
}