* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html, body {
  width: 100%;
  height: 100%;
}

#page1 {
  width: 100%;
  height: 100%;
}

#nav {
  /* background-color: aqua; */
  width: 100%;
  height: 70px;
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav #nav-part1{
  width: 35%;
  display: flex;
  gap: 1vw;
}

#nav #nav-part1 a {
  text-decoration: none;
  color: black;
}

#nav #nav-part1 a:hover {
  font-weight: 500;
}

#nav img{
  width: 70px;
}

#nav #nav-part2{
  width: 35%;
  display: flex;
  justify-content: flex-end;
  gap: 1vw;
}

.button-round {
  background-color: black;
  color: white;
  padding: 10px 17px;
  border: none;
  border-radius: 50px;
}

#content {
  /* background-color: red; */
  width: 100%;
  height: calc(100% - 70px);
  padding-top: 5vw;
}

#content h6 {
  background-color: goldenrod;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 50px;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#content h2 {
  text-align: center;
  font-size: 4vw;
  margin: 2vw 0;
  line-height: 4vw;
}

#content h5 {
  font-weight: normal;
  text-align: center;
}

#content button {
  margin: 2vw 0;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}